# This config is ingested by pixeldash and used to configure the entire application.
# If you add a new table, you _must_ update the config.py to deserialize it into the Config object

[pixeldash]
debug = true
log_path = "logs/pixeldash.log"

[IKEASensor]
url = "http://172.30.31.116"

[JimSensor]
url = "http://172.30.31.190"

[PimSensor]
url = "http://172.30.31.86:8080"

[Tasmota2Sensor]
url = "http://172.30.31.97"

[WeatherSensor]
api_key = ""