# This config is ingested by pixeldash and used to configure the entire application.
# To add a new table, you should use the same name as the class you're looking to configure
# Call config_for with the class name to get the appropriate table back.

[pixeldash]
debug = true
log_path = "logs/pixeldash.log"

[IKEASensor]
url = "http://172.30.31.116"

[JimSensor]
url = "http://172.30.31.190"

[PimSensor]
url = "http://172.30.31.86:8080"

[Tasmota2Sensor]
url = "http://172.30.31.97"

[WeatherSensor]
api_key = ""